<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ох ти і старий</title>
</head>
<body>
<p>Привіт, юний вчений ісследователь життя на своєму космічному кораблі під назвою "Двадцятиліття"! 🚀🎉</p>
<p>Вітаємо тебе із завершенням етапу "Підготовка до дорослості". Тепер, коли тобі двадцять, ти маєш право вважати себе експертом у всіх сферах, адже ти вже не підліток - ти "напівдорослий"! 😄</p>

<p>Нехай кожен новий день для тебе буде таким же яскравим і неочікуваним, як кавун, який ти колись вибрав, ввійшовши в світ дорослих. 🍉🌟</p>

<p>Зичимо тобі пригод та успіхів на твоєму космічному кораблі, але не забувай, що навігаційна система дорослості іноді може впасти, але ти завжди можеш покластися на свої "п'ятірки" та невичерпний запас гумору! 😆</p>

<p>Знай, що завжди можеш рахувати на нас, твоїх друзів, коли твій космічний корабель потребує технічної підтримки або коли ти просто хочеш поділитися своїми космічними пригодами. 🚀👽</p>

<p>Зі стартовою лінією на новому етапі життя! 🚀🎂</p>
<audio src="/audio/smeshnaya-animatsiya-fonovogo-zvuka-42257.mp3" autoplay loop ></audio>
<br>
<a href="confirmation.html">прочитай і нажимай</a>

</body>
</html>